database:
  type: {{ db_type }}
  host: localhost
  user: db_user
  password: user_password
  port: 3006

fits_files:
  paths:
    - path/to/dir
    - path/to/file.fits

  tables:
    - name: HOUSEKEEPING
      target_table: RAW_HOUSEKEEPING
    - name: OTHER_TABLE 